{% extends "Base.html" %}

{% block content %}
<div>
    <center style="color:gold">
        <h3>See presentation for info</h3>
        <a href="/PlotBeforeClean"><img src="/PlotBeforeClean" width="650" height="450" style="position:absolute; bottom:0%; left:0%"></a>
        <a href="/PlotAfterClean"><img src="/PlotAfterClean" width="650" height="450" style="position:absolute; bottom:0%; right:0%"></a>
        <div class="ScrollStyle">
            {% for table in df %}
            {{ table|safe }}
            {% endfor %}</div>
    </center>


</div>
{% endblock %}