{% extends "Base.html" %}

{% block content %}
<a href="EDA"><button type="button" class="btn bg-transparent btn-outline-primary" style="color: gold; position:absolute; top:9.9%; left:44.1%">Means</button></a>
<a href="EDA_Damage_Gold"><button type="button" class="btn bg-transparent btn-outline-primary" style="color: gold; position:absolute; top:9.9%; left:47%">Damage/Gold</button></a>
<a herf="EDA_Corr"><button type="button" class="btn bg-transparent btn-outline-primary" style="color:gold; position:absolute; top:9.9%; left:51.9%">Corr</button></a>
<div class="row" style="width:60%; height:50%; position:absolute; top:13%; left:20%" >
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="\Apex_Mean_Plot">
                <img src="\Apex_Mean_Plot" style="width:100%">
            </a>
            <div class="caption">
                <center><h4 style="color:#860111">Apex plot</h4></center>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="\Diamond_Mean_Plot">
                <img src="\Diamond_Mean_Plot" style="width:100%">
            </a>
            <div class="caption">
                <center><h4 style="color:#A0e1f5">Diamond plot</h4></center>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="\Platinum_Mean_Plot">
                <img src="\Platinum_Mean_Plot" style="width:100%">
            </a>
            <div class="caption">
                <center><h4 style="color:#E5E4E2">Platinum plot</p></center>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="\Gold_Mean_Plot">
                <img src="\Gold_Mean_Plot" style="width:100%">
            </a>
            <div class="caption">
                <center><h4 style="color:#d4af37">Gold plot</h4></center>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="\Silver_Mean_Plot">
                <img src="\Silver_Mean_Plot" style="width:100%">
            </a>
            <div class="caption">
                <center><h4 style="color:#C0C0C0">Silver plot</h4></center>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="\Bronze_Mean_Plot">
                <img src="\Bronze_Mean_Plot" style="width:100%">
            </a>
            <div class="caption">
                <center><h4 style="color:#CD7F32">Bronze plot</h4></center>
            </div>
        </div>
    </div>
</div>
<!-- https://www.w3schools.com/bootstrap/bootstrap_images.asp -->
{% endblock %}