{% extends "Base.html" %}

{% block content %}
<div>
    <center style="color:#FFFFFF"><h1>Project Question:</h1>
        <h2>Given a player's statistics, can we anticipate his rank?</h2>
        <h3>By: Or Sharvit, Yarin Shelek</h3>
        <h3><a href="https://github.com/YarinShelek/Data-Science-Project">GitHub</a></h3>
    </center>

    <img src="/ApexLogo" width="250" height="250" style="position:absolute; bottom:50%; left:35%">
    <img src="/DiamondLogo" width="250" height="250" style="position:absolute; bottom:50%; left:60%">

</div>
{% endblock %}